@font-face {
    font-family: myfont;
    src: url(PlayfairDisplay-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: myfont;
}
#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    position: relative;
    margin-top: 12vh;
    width: 85%;
    height: 35vw;
    overflow: hidden;
    border-radius: 3vw;
}
.header img{
    /* display:flex ;
    align-items: center; */
    width: 100%;
    height: 100%;
}
.whcontent{
    position: absolute;
    top: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    /* z-index: 99; */
    width: 80%;
    height: 25vh;
    border-radius: 2vw;
    background-color: #00000061  ;
    color: #fff;
    /* opacity: .4; */
}
.down{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.down h3{
    font-size: 1.3vw;
    
}
.down h3:hover{
    border-bottom: 1px #fff solid;
}
.down h2{
    font-size: 1.5vw;
}
.up label{
    margin-left: 8vw;
}
.up input label{
    margin-left: 0vw;
    color: #fff;
}
.up input{
    padding: 0.5vw 1vw;
    border-radius: 5px;
    border: none;
    outline: none;
}
.up i{
    font-size: 2vw;
    margin-top: 2vw;
}

.scroll{
    display: flex;
    align-items: center;
    position: absolute;
    top: 75%;
    left: -9%;
    font-size: 5vh;
    text-transform: uppercase;
    transform: rotate(-90deg);
}
.arrow{
    display: flex;
    align-items: center;
    opacity: .5;
}
.line{
    margin-right: 0.4vw;
    margin-left: -1.5vw;
    width: 4vw;
    height: 0.2vw;
    background-color: #000;

}
.arrow i{
    font-size: 3vw;
    font-weight: 300;
}
.scroll h3{
    letter-spacing: 0.5vw;
    font-weight: 300;
    font-size: 3vh;
}
#page2{
    /* height: 100vh; */
    width: 100%;
}
.toggle {
    width: 3vw;
    height: 1.3vw;
    background-color: #fff ;
    border: 1px solid black;
    border-radius: 40px;
    /* position: absolute; */
    margin-bottom: 1.8vw;
    z-index: 999999999;
    /* position: fixed; */
    margin-left: 10px;
    /* mix-blend-mode: difference; */
    
}

.toggle .circ {
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50%;
    background-color:#000;
    margin-top: .1vw;
    margin-left: 2vw;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    margin-left: 4%;
    /* position: absolute; */

}
.cardcontainer{
    width: 100%;
    /* padding: 0 5vw ; */
    justify-content: space-between;
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
}
.row1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    width: 100%; 
    height: 45vh;
    margin-bottom: 3vw;
    /* background-color: aqua; */
}
.row2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 3%; */
    width: 100%; 
    height: 45vh;
    margin-bottom: 3vw;

    /* background-color: aqua; */
}
.row3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 3%; */
    width: 100%; 
    height: 45vh;
    margin-bottom: 3vw;

    /* background-color: aqua; */
}
.cards{
    position: relative;
    width: 22%;
    height: 50vh;
    /* background-color: #dadada;   */
}
.cards>img{
    width: 100%;
    height: 30vh;
    box-shadow: 0 10px 8px -6px black;
}
.cardcontent{
    padding: 9px;
    display: flex;
    
    justify-content: space-between;
}
.cardcontent h2{
    font-size: 1.6vw;
}
.cardcontent h5{
    font-size: 1vw;
}
.rating{
    margin-top: 0vh;
    font-size: 1.5vw;
}
.rating i{
    color: gold;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1vh; */
}
.price button{
    padding: 8px 22px;
    background-color: #e5bc6b73;
    border: 1px solid #e5bc6b;
}
.type{
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 2vw;
    
}
.lcnt{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.type img{
    height: 4vh;
    width: 2vw;
}
.cnt{
    width: 100%;
    height: 100%;
    background-color: #e5bc6b;
    display: flex;
    cursor: pointer;
    /* justify-content: space-between; */
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0) rotate(180deg);
    transition: all 0.3s;
    opacity: 0;
    box-sizing: border-box;
    padding: 1vw 1vw;
    gap: .5vw;
    color: #fff;
}
.item:hover .cnt{
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.3s;
}
.lftcnt{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightcnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}
.rightcnt #cart{
    font-size: 1.8vw;
    color: #fff;
}

.btn{
    height: 3vh;
    width: 5vw;
    display: flex;
    justify-content: space-around;
    
    background-color:#fff;
    align-items: center;
    border-radius: 5px;
    padding: 0.4vw 0.3vw;
    /* pointer-events: none; */
    cursor: pointer;
    color: #e5bc6b;
}
.num{
    border-left: 1px #e5bc6b solid;
    border-right: 1px #e5bc6b solid;
    padding: 0 .5vw;
}
.lftcnt button{
    /* padding: .6vw 1.3vw; */
    border-radius: 5px;
    border: none;
    color: #e5bc6b;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background-color: #fff;
}
.menu1{
    
    opacity: 1;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
    background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80);
    background-position: center;
    background-size: cover;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* background-color: lightgray; */
    padding: 0 3vw;
}
.lftnav{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.rightnav{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.nav #back{
    font-size: 3vw;

}
.offers{
    display: flex;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    gap: .2vw;
}
.offers h4{
    font-size: 1.1vw;
}
.nav #cart2{
    font-size: 2vw;
}
.nav h4{
    font-size: 1.1vw;
}
.nav input{
    border-radius: 25px;
    border: none;
    margin-left: 10%;
    padding: 1% 2%;
    outline: none;
    text-align: center;
}
.scroll1{
    height: 30vh;
    margin-top: 2%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll3{
    height: 30vh;
    margin-top: 2%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollimg1{
    height: 100%;
    position: relative;
    transform: translateX(40%);
}
.scrollimg2{
    height: 100%;
    position: relative;
    transform: translateX(-80%);
}

.scrollimg1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    position: relative;
}
.scrollimg2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}
.item:hover img{
    transform: scale(0);
}
.item{
    width: 18vw;
    height: 100%;
    /* background-color: lightpink; */
    display: inline-block;
    margin-right: 3vw;
    position: relative;
    /* transform: translateX(100%); */
    opacity: 1;
}
.scroll2{
    height: 7vh;
    margin-top: 1%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll4{
    height: 7vh;
    margin-top: 1%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollname1{
    height: 100%;
    transform: translateX(40%);
    
}
.scrollname2{
    height: 100%;
    transform: translateX(-80%);
    
}
.scroll1::-webkit-scrollbar{
    display: none;
}
.scroll2::-webkit-scrollbar{
    display: none;
}
.scroll3::-webkit-scrollbar{
    display: none;
}
.scroll4::-webkit-scrollbar{
    display: none;
}
.name{
    height: 100%;
    position: relative;
    width: 19vw;
    margin-right: 2vw;
    /* background-color: lightcyan; */
    display: inline-block;
    z-index: -9999;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.effect{
    width: 100%;
    height: 80%;
    
    background-color: #e5bc6b73;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-50%,-50%);
    
    z-index: -999;
    clip-path: polygon(0 16%, 100% 0%, 100% 88%, 0% 100%);
}
.effect2{
    width: 100%;
    height: 80%;
    
    background-color: #e5bc6b73;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-50%,-50%);
    
    z-index: -999;
    clip-path: polygon(0 16%, 100% 0%, 100% 88%, 0% 100%);
}
.name h1{
    margin-top: 0.3vw;
    transition: all 0.4s;
    /* margin-left: 5vw; */
}
