
*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* font-family: myfont; */
}


.rating{
    margin-top: 0vh;
    font-size: 1.5vw;
}
.rating i{
    color: gold;
}

.type{
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 2vw;
    
}
.lcnt{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.type img{
    height: 4vh;
    width: 2vw;
}
.cnt{
    width: 100%;
    height: 100%;
    background-color: #e5bc6b;
    display: flex;
    cursor: pointer;
    /* justify-content: space-between; */
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0) rotate(180deg);
    transition: all 0.3s;
    opacity: 0;
    box-sizing: border-box;
    padding: 1vw 1vw;
    gap: .5vw;
    color: #fff;
}
.item:hover .cnt{
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.3s;
}
.lftcnt{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightcnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}
.rightcnt #cart{
    font-size: 1.8vw;
    color: #fff;
}

.btn{
    height: 3vh;
    width: 5vw;
    display: flex;
    justify-content: space-around;
    
    background-color:#fff;
    align-items: center;
    border-radius: 5px;
    padding: 0.4vw 0.3vw;
    /* pointer-events: none; */
    cursor: pointer;
    color: #e5bc6b;
}
.num{
    border-left: 1px #e5bc6b solid;
    border-right: 1px #e5bc6b solid;
    padding: 0 .5vw;
}
.lftcnt button{
    /* padding: .6vw 1.3vw; */
    border-radius: 5px;
    border: none;
    color: #e5bc6b;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background-color: #fff;
}
.menu1{
    
    opacity: 1;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
    background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80);
    background-position: center;
    background-size: cover;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* background-color: lightgray; */
    padding: 0 3vw;
}
.lftnav{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.rightnav{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.nav #back{
    font-size: 3vw;

}
.offers{
    display: flex;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    gap: .2vw;
}
.offers h4{
    font-size: 1.1vw;
}
.nav #cart2{
    font-size: 2vw;
}
.nav h4{
    font-size: 1.1vw;
}
.nav input{
    border-radius: 25px;
    border: none;
    margin-left: 10%;
    padding: 1% 2%;
    outline: none;
    text-align: center;
}
.scroll1{
    height: 30vh;
    margin-top: 2%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll3{
    height: 30vh;
    margin-top: 2%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollimg1{
    height: 100%;
    position: relative;
    transform: translateX(40%);
}
.scrollimg2{
    height: 100%;
    position: relative;
    transform: translateX(-80%);
}

.scrollimg1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    position: relative;
}
.scrollimg2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}
.item:hover img{
    transform: scale(0);
}
.item{
    width: 18vw;
    height: 100%;
    /* background-color: lightpink; */
    display: inline-block;
    margin-right: 3vw;
    position: relative;
    /* transform: translateX(100%); */
    opacity: 1;
}
.scroll2{
    height: 7vh;
    margin-top: 1%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll4{
    height: 7vh;
    margin-top: 1%;
    /* background-color: #e5bc6b; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollname1{
    height: 100%;
    transform: translateX(40%);
    
}
.scrollname2{
    height: 100%;
    transform: translateX(-80%);
    
}
.scroll1::-webkit-scrollbar{
    display: none;
}
.scroll2::-webkit-scrollbar{
    display: none;
}
.scroll3::-webkit-scrollbar{
    display: none;
}
.scroll4::-webkit-scrollbar{
    display: none;
}
.name{
    height: 100%;
    position: relative;
    width: 19vw;
    margin-right: 2vw;
    /* background-color: lightcyan; */
    display: inline-block;
    z-index: -9999;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.effect{
    width: 100%;
    height: 80%;
    
    background-color: #e5bc6b73;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-50%,-50%);
    
    z-index: -999;
    clip-path: polygon(0 16%, 100% 0%, 100% 88%, 0% 100%);
}
.effect2{
    width: 100%;
    height: 80%;
    
    background-color: #e5bc6b73;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-50%,-50%);
    
    z-index: -999;
    clip-path: polygon(0 16%, 100% 0%, 100% 88%, 0% 100%);
}
.name h1{
    margin-top: 0.3vw;
    transition: all 0.4s;
    /* margin-left: 5vw; */
}
